body {
    background: #272727;
    color: #ffffff;
    font: 100%/1.5 'Titillium Web', sans-serif;
}

a {
    color: #FD5158;
    text-decoration: none;
    font-weight: normal;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.content {
    margin: 0 auto;
}

.wrapper {
    max-width: 960px;
    margin: 30px auto;
}

#main {
    float: left;
    width: 550px;
}

#stats {
    float: left;
    margin-left: 50px;
    max-width: 350px;
}

.message {
    color: #fff;
    display: block;
    margin-bottom: 25px;
}

.message:last-of-type {
    margin-right: 0px;
    margin-bottom: 10px;
}

.message-text {
    color: #ffffff;
    margin-bottom: 10px;
}

.from {
    color: #FD5157;
    display: inline-block;
    font-size: 1.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 50%;
    white-space: nowrap;
}

.date {
    color: #666666;
    display: inline-block;
    font-size: 0.8em;
    text-align: right;
    width: 49%;
}

.stats .name {
    color: #FD5157;
}

/* CLEARFIX */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

@media screen and (max-width: 1024px) {
    #main {
        float: none;
    }

    #stats {
        float: none;
        margin-left: 0;
        margin-top: 50px;
    }
}