body {
    background: #272727;
    color: #ffffff;
    font: 100%/1.5 'Titillium Web', sans-serif;
}

a {
    color: #FD5158;
    text-decoration: none;
    font-weight: normal;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.content {
    margin: 0 auto;
    width: 40em;
}

.wrapper {
    width: 90%;
    max-width: 960px;
    margin: 30px auto;
}

#main {
    float: left;
    max-width: 600px;
}

#stats {
    float: left;
    max-width: 360px;
}

.message {
    color: #fff;
    display: block;
    margin-bottom: 25px;
}

.message:last-of-type {
    margin-right: 0px;
    margin-bottom: 10px;
}

.message-text {
    color: #ffffff;
    margin-bottom: 10px;
}

.from {
    color: #FD5157;
    display: inline-block;
    font-size: 1.5em;
    width: 50%;
}

.date {
    color: #666666;
    display: inline-block;
    font-size: 0.8em;
    text-align: right;
    width: 49%;
}

.stats .name {
    color: #FD5157;
}