.content {
    margin: 0 auto;
    width: 40em;
}

article {
    display: block;
    background: black;
    text-align: center;
}

from, message {
    min-height: 2em;
    margin-bottom: 1em;
}

from {
    width: 14.8em;
    float: left;
    clear: both;
    background: blue;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-right: 0.2em;
}

message {
    width: 25em;
    float: left;
    background: red;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}